.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
}
.header a{
    text-decoration: none;
    font-size: 20px;
    color: #999;
}
.container-noticia-previa a{
    text-decoration: none;
    color: #999;
}
.box-noticia-previa{
    position: relative;
    margin-inline: 50px;
    padding-inline: 40px;
    border-bottom: 1px solid #ccc ;
}
.box-noticia-previa h2{
    color: rgb(6, 6, 177);
}